<h2>Images</h2>

<div class='container-fluid'>
  <div class="row">
    <div class='col-12'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
             <img src="../assets/Cats/Main-Coon.jpg" alt="Image1">
          </div>
            
          <div class="carousel-caption">
            <h3>Main Coon</h3>
             <p>The biggest cat breed.</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../assets/Cats/Ragdoll.png" alt="Image2">
          </div>
        
          <div class="carousel-caption">
            <h3>Ragdoll</h3>
             <p>Dog-like cats.</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <img src="../assets/Cats/Mizu.jpeg" alt="Image3">
          </div>
        
        <div class="carousel-caption">
          <h3>Tabby</h3>
          <p>This is my cat, Mizu.</p>
        </div>
      </ng-template>
      
      </ngb-carousel>
    </div>
    
  </div>
</div>

